body {
  background-color: rgb(30, 30, 58);
  color: #fff;
}

.img-wrapper,
.card-img {
  max-width: 200px;
  aspect-ratio: 1/1;
}

#new-vinyl-link:hover b {
  text-decoration: underline;
}

.bg-darker {
  background-color: #121222;
}

.btn {
  width: 100px;
}

.btn-primary {
  background-color: #121222;
}

.btn-danger {
  background-color: rgb(90, 44, 44);
}

.styled-file-input::file-selector-button {
  background-color: #121222;
  color: white;
}